* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%; }

* {
  font-size: 62.5%;
  color: #258843;
  font-family: "montserrat"; }

h1 {
  font-size: 6.4rem;
  text-align: center;
  margin: 0;
  margin-bottom: 1rem; }

h2 {
  font-size: 3.2rem;
  text-align: center; }

h3 {
  font-size: 2.4rem;
  color: white; }

h4 {
  font-size: 1.6rem;
  color: white; }

/* --------------------------------------------------------------- Common Use Css */
body {
  background-color: black;
  background-image: url(../assets/bgImg.svg);
  background-repeat: no-repeat;
  background-size: cover; }

header {
  font-weight: bold; }
  header nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 4rem; }
    header nav .logoImg {
      width: 5rem;
      height: 7rem; }

.pagesItem {
  border-right: 0.1rem solid white; }
  .pagesItem:last-child {
    border: none; }

.navbar-toggler {
  height: 3.5rem;
  width: 3.5rem;
  border-width: 0.2rem;
  border-color: #258843; }
  .navbar-toggler .navbar-toggler-icon {
    background-color: #258843; }

.leftArrow {
  height: 2rem;
  width: 1.5rem; }

.offcanvas-header {
  background-color: black; }

.offcanvas-body {
  height: 100vh;
  background-image: url(../assets/bgImg.svg); }

.offcanvasFooter {
  position: fixed;
  bottom: 0; }

.pagesLink {
  color: #258843;
  font-size: 2rem;
  text-decoration: none;
  margin-top: 0.5rem;
  padding: 0 4rem;
  text-decoration: underline 0.2rem rgba(0, 0, 0, 0);
  transition: text-decoration-color 300ms; }
  .pagesLink:hover {
    color: #258843;
    text-decoration-color: white; }

.logoImg,
.pages,
.socials {
  list-style: none;
  display: flex;
  align-self: center; }

.socialIcon {
  height: 5.5rem;
  width: 5.5rem;
  transition: all 0.3s ease-in-out; }
  .socialIcon:hover {
    transform: scale(1.3);
    background-color: #000; }

.wapIcon {
  fill: white;
  width: 5rem;
  height: 5rem;
  padding: 0.5rem;
  background-color: #258843;
  border-radius: 50%;
  box-shadow: 0.2rem 0.2rem 1.5rem white;
  position: fixed;
  bottom: 2.5rem;
  right: 3rem;
  z-index: 10; }
  .wapIcon:hover {
    box-shadow: 0rem 0rem 1.5rem 0.5rem rgba(37, 136, 67, 0.8);
    transition: all 0.3s ease-in-out; }
    .wapIcon:hover:hover {
      box-shadow: 0rem 0rem 1.5rem 1rem rgba(255, 255, 255, 0.6); }

.footer {
  display: flex;
  padding: 1rem;
  font-size: 1.6rem;
  color: white;
  font-weight: bold;
  align-items: center;
  justify-content: center; }

.footerImg {
  width: 3rem;
  height: 4rem;
  margin: 0rem 2rem; }

.boldSpan {
  color: white;
  font-weight: bold;
  font-size: 2rem; }

.title {
  margin-top: 5rem;
  margin-bottom: 5rem; }

@media (min-width: 1200px) {
  .navbar-toggler, .offcanvas {
    display: none; } }

@media (max-width: 1199px) {
  .pages {
    display: none; }
  .pagesItem {
    border: none; }
  .socialItem {
    margin: 0 3rem 0 3rem; } }

@media (max-width: 576px) {
  .socialItem {
    margin: 0; } }

@media (max-width: 1023px) {
  * {
    font-size: 56.25%; }
  .pagesItem {
    border: none; }
  footer {
    flex-direction: column; } }

@media (max-width: 767px) {
  * {
    font-size: 50%; } }

/* --------------------------------------------------------------- Common Use Css */
/* -------------------------------------------------------------------- Index CSS */
#heroSection .container {
  height: 60vh; }

.heroImg {
  border-radius: 2rem;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7)), url("../assets/heroImg.jpg");
  background-position: center center;
  background-size: cover;
  background-attachment: fixed; }

.heroText {
  font-size: 2rem;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.7); }

.row.subRow {
  align-items: center;
  padding: 3rem; }

.subImg {
  max-width: 100%;
  opacity: 0.8;
  border-radius: 2rem;
  box-shadow: 0rem 0rem 1.5rem 0.5rem rgba(37, 136, 67, 0.8);
  transition: all 0.3s ease-in-out; }
  .subImg:hover {
    box-shadow: 0rem 0rem 1.5rem 1rem rgba(255, 255, 255, 0.6); }

.subText {
  background-color: rgba(0, 0, 0, 0.459);
  font-size: 2rem;
  line-height: 4rem;
  text-align: center;
  margin-left: 5rem;
  margin-top: 5rem; }
  .subText .subTextLink {
    text-decoration: none; }

@media (min-width: 1024px) {
  .subText {
    margin-top: 0rem; } }

/* ---------------------------------------------------------------- End Index CSS */
/* -------------------------------------------------------------- Institution CSS */
.carousel-control-prev-icon,
.carousel-control-next-icon {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-color: darkgray; }

.carousel-item {
  height: 50rem;
  background-color: #000; }

.carousel-1 {
  background: url("../assets/institution1.jpg") no-repeat center center/cover; }

.carousel-2 {
  background: url("../assets/institution2.jpg") no-repeat center center/cover; }

.carousel-3 {
  background: url("../assets/institution3.jpg") no-repeat center center/cover; }

.aulasText {
  max-width: 80%;
  margin-top: 3rem;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 2rem;
  font-size: 2rem;
  line-height: 2rem; }
  .aulasText:after {
    content: "";
    display: block;
    margin: 0 auto;
    width: 50%;
    padding-top: 20px;
    border-bottom: 0.2rem solid white; }

#studyProgram {
  background-color: rgba(0, 0, 0, 0.5); }

.programTitle, .programH3 {
  font-weight: bold;
  color: white; }

.row.upper,
.row.lower {
  padding: 6rem; }

.bigSquareDescription,
.smallSquareDescription {
  font-size: 2rem; }

@media (min-width: 1024px) {
  .container.carouselContainer {
    width: 75%;
    margin-left: auto;
    margin-right: auto; } }

/* ---------------------------------------------------------- End Institution CSS */
/* -------------------------------------------------------------------- Games CSS */
.gamingTitle {
  font-weight: bold;
  margin-top: 4rem; }

.video {
  max-width: 100%;
  opacity: 0.8;
  margin: 1.5rem 0rem;
  box-shadow: 0rem 0rem 1.5rem 0.5rem rgba(37, 136, 67, 0.8);
  transition: all 0.3s ease-in-out; }
  .video:hover {
    box-shadow: 0rem 0rem 1.5rem 1rem rgba(255, 255, 255, 0.6); }

.videoDescription {
  background-color: rgba(0, 0, 0, 0.6);
  font-size: 2rem; }

/* ---------------------------------------------------------------- End Games CSS */
/* ----------------------------------------------------------------- Packages CSS */
.card {
  background-color: rgba(0, 0, 0, 0); }
  .card .card-title {
    font-weight: bold; }

.packagesLink {
  text-decoration: none; }

.cardsText {
  color: white;
  font-size: 2rem; }

.cardsButton, .satelite, .tryhard, .pro {
  background-color: #787878;
  border-radius: 1rem;
  padding: 1rem;
  letter-spacing: 1.5px;
  margin-top: 1rem;
  margin-bottom: 2rem; }

.satelite:hover {
  background-color: #7d0000; }

.tryhard:hover {
  background-color: #258843; }

.pro:hover {
  background-color: #3e3efc; }

.packSatelite, .packTryhard, .packPro {
  border-radius: 4rem;
  box-shadow: 0rem 0rem 1.5rem 0.5rem rgba(255, 255, 255, 0.8);
  transition: all 0.3s ease-in-out; }
  .packSatelite:hover .sateliteText, .packTryhard:hover .sateliteText, .packPro:hover .sateliteText {
    color: red; }
  .packSatelite:hover, .packTryhard:hover, .packPro:hover {
    box-shadow: 0rem 0rem 1.5rem 1rem rgba(255, 0, 0, 0.6); }

.packTryhard:hover {
  box-shadow: 0rem 0rem 1.5rem 1rem green; }
  .packTryhard:hover .tryhardText {
    color: #258843; }

.packPro:hover {
  box-shadow: 0rem 0rem 1.5rem 1rem rgba(0, 0, 255, 0.6); }
  .packPro:hover .proText {
    color: #5656fd; }

@media (min-width: 1199px) {
  .card {
    height: 90%; } }

/* ------------------------------------------------------------- End Packages CSS */
/* ------------------------------------------------------Contact Grid Declaration */
.contactUsGridContainer {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr;
  grid-template-rows: 0.2fr 2.7fr 0.1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "navBar" "mainArea" "footer"; }

.navBar {
  grid-area: navBar; }

.mainArea {
  grid-area: mainArea; }

.footer {
  grid-area: footer; }

/* ------------------------------------------------------Contact Grid Declaration */
/* --------------------------------------------------------------- Contact Us CSS */
label {
  font-size: 2rem;
  color: white; }

::placeholder {
  color: #000;
  font-size: 1.5rem;
  font-weight: bold; }

input[type="text"],
input[type="email"],
select,
textarea {
  width: 100%;
  padding: 1.2rem;
  border: 0.2rem solid none;
  border-radius: 0.4rem;
  box-sizing: border-box;
  margin-top: 0.6rem;
  margin-bottom: 1.6rem;
  resize: vertical; }

.formContainer {
  border-radius: 1rem;
  border-top: 0;
  border-bottom: 0;
  padding: 2rem;
  background-color: rgba(37, 136, 67, 0.5); }

.buttonRow {
  display: flex;
  justify-content: center; }

.contactButton {
  background-color: #0d5823;
  font-size: 2rem;
  font-weight: bold;
  color: white;
  border-radius: 1rem;
  height: 5rem;
  width: 20%; }
  .contactButton:hover {
    box-shadow: 0rem 0rem 1.5rem 0.5rem rgba(37, 136, 67, 0.8);
    transition: all 0.3s ease-in-out; }
    .contactButton:hover:hover {
      box-shadow: 0rem 0rem 1.5rem 1rem rgba(255, 255, 255, 0.6); }

.modal-content {
  border-radius: 2rem;
  align-items: center; }
  .modal-content .modal-header h3 {
    color: #258843;
    font-weight: bold; }
  .modal-content .closeButton {
    background-color: #0d5823;
    font-size: 2rem;
    color: white;
    border-radius: 1rem; }

/* ----------------------------------------------------------- End Contact Us CSS */
.notFoundContainer {
  margin-top: 17rem; }
  .notFoundContainer p {
    color: #258843;
    font-size: 2rem;
    font-weight: bold; }
  .notFoundContainer .button404 {
    background-color: #0d5823;
    font-size: 2rem;
    color: white;
    border-radius: 1rem;
    box-shadow: 0rem 0rem 1.5rem 0.5rem rgba(37, 136, 67, 0.8);
    transition: all 0.3s ease-in-out; }
    .notFoundContainer .button404:hover {
      box-shadow: 0rem 0rem 1.5rem 1rem rgba(255, 255, 255, 0.6); }
