@import "./abstracts/variables";
@import "./base/reset";
@import "./base/typography";
@import "./abstracts/mixins";

/* --------------------------------------------------------------- Common Use Css */

body {
  background-color: black;
  background-image: url(../assets/bgImg.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

header {
  font-weight: bold;
  nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 4rem;
    .logoImg {
      width: 5rem;
      height: 7rem;
    }
  }
}

.pagesItem {
  border-right: 0.1rem solid $accentColor;
  &:last-child {
    border: none;
  }
}

.pagesLink {
  color: $primaryColor;
  font-size: $standardFontSize;
  text-decoration: none;
  margin-top: 0.5rem;
  padding: 0 4rem;
  text-decoration: underline 0.2rem rgba(0, 0, 0, 0);
  transition: text-decoration-color 300ms;

  &:hover {
    color: $primaryColor;
    text-decoration-color: $accentColor;
  }
}

.logoImg,
.pages,
.socials {
  list-style: none;
  display: flex;
  align-self: center;
}

.socialIcon {
  height: 5.5rem;
  width: 5.5rem;
  @include easeTransition;
  &:hover {
    transform: scale(1.3);
    background-color: #000;
  }
}

.wapIcon{
  fill: white;
  width: 5rem;
  height: 5rem;
  padding: 0.5rem;
  background-color: $primaryColor;
  border-radius: 50%;
  box-shadow: 0.2rem 0.2rem 1.5rem white;
  position: fixed;
  bottom: 2.5rem;
  right : 3rem;
  z-index: 10;

  &:hover{
    @include generalBoxShadow;
  }
}

footer {
  display: flex;
  padding: 1rem;
  font-size: 1.6rem;
  color: $accentColor;
  font-weight: bold;
  align-items: center;
  justify-content: center;
}

.footerImg {
  width: 3rem;
  height: 4rem;
  margin: 0rem 2rem;
}

.boldSpan {
  color: $accentColor;
  font-weight: bold;
  font-size: $standardFontSize;
}

.title {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

@media (max-width: 1023px) {
  * {
    font-size: $remIs9px;
  }

  .navBar {
    grid-area: navBar;
  }

  .pages, .socials {
    display: flex;
    flex-direction: column;
  }

  .pagesItem {
    border: none;
  }

  footer {
    flex-direction: column;
  }
}

@media (max-width: 767px) {
  * {
    font-size: $remIs8px;
  }
}

/* --------------------------------------------------------------- Common Use Css */

/* -------------------------------------------------------------------- Index CSS */

#heroSection .container {
  height: 60vh;
}

.heroImg {
  border-radius: 2rem;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7)),
    url("../assets/heroImg.jpg");
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}

.heroText {
  font-size: $standardFontSize;
  font-weight: bold;
  color: rgba($accentColor, 0.7);
}

.row.subRow {
  align-items: center;
  padding: 3rem;
}

.subImg {
  max-width: 100%;
  opacity: 0.8;
  border-radius: 2rem;
  @include generalBoxShadow;
}

.subText {
  background-color: rgba(0, 0, 0, 0.459);
  font-size: $standardFontSize;
  line-height: 4rem;
  text-align: center;
  margin-left: 5rem;
  margin-top: 5rem;
  #{&}Link {
    text-decoration: none;
  }
}

@media (min-width: 1024px) {
  .subText {
    margin-top: 0rem;
  }
}
/* ---------------------------------------------------------------- End Index CSS */

/* -------------------------------------------------------------- Institution CSS */

.carousel-control-prev-icon, .carousel-control-next-icon {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-color: darkgray;
}

.carousel-item {
  height: 50rem;
  background-color: #000;
}

.carousel-1 {
  background: url("../assets/institution1.jpg") no-repeat center center/cover;
}

.carousel-2 {
  background: url("../assets/institution2.jpg") no-repeat center center/cover;
}

.carousel-3 {
  background: url("../assets/institution3.jpg") no-repeat center center/cover;
}

.aulasText {
  max-width: 80%;
  margin-top: 3rem;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 2rem;
  font-size: $standardFontSize;
  line-height: 2rem;
}

.row.upper,
.row.lower {
  padding: 6rem;
}

.bigSquareDescription,
.smallSquareDescription {
  font-size: $standardFontSize;
}

@media (min-width: 1024px) {
  .container.carouselContainer {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
  }
}

/* ---------------------------------------------------------- End Institution CSS */

/* -------------------------------------------------------------------- Games CSS */

.gamingTitle {
  font-weight: bold;
  margin-top: 4rem;
}
.video {
  max-width: 100%;
  opacity: 0.8;
  margin: 1.5rem 0rem;
  @include generalBoxShadow;
}

.videoDescription {
  background-color: rgba(0, 0, 0, 0.6);
  font-size: $standardFontSize;
}

/* ---------------------------------------------------------------- End Games CSS */

/* ----------------------------------------------------------------- Packages CSS */

.packagesLink {
  text-decoration: none;
}

.cardsText {
  font-size: $standardFontSize;
}

.cardsButton {
  border: 0.3rem solid $accentColor;
  border-radius: 1rem;
  border-top: 0;
  border-bottom: 0;
  padding: 1rem;
  opacity: 0.6;
  cursor: not-allowed;
  letter-spacing: 1.5px;
  margin-bottom: 2rem;
}

.packSatelite {
  border-radius: 4rem;
  @include packsBoxShadow;
}

.packTryhard {
  @extend .packSatelite;
  &:hover{
    box-shadow: 0rem 0rem 1.5rem 1rem rgba(color(tryhard), $alpha: 1);
  }
}

.packPro {
  @extend .packSatelite;
  &:hover{
    box-shadow: 0rem 0rem 1.5rem 1rem rgba(color(pro), $alpha: 0.6);
  }
}

/* ------------------------------------------------------------- End Packages CSS */

/* ------------------------------------------------------Contact Grid Declaration */

.contactUsGridContainer {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr;
  grid-template-rows: 0.2fr 2.7fr 0.1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "navBar"
    "mainArea"
    "footer";
}

.navBar {
  grid-area: navBar;
}

.mainArea {
  grid-area: mainArea;
}

.footer {
  grid-area: footer;
}

/* ------------------------------------------------------Contact Grid Declaration */

/* --------------------------------------------------------------- Contact Us CSS */

label {
  font-size: $standardFontSize;
  color: $accentColor;
}

::placeholder {
  color: #000;
  font-size: 1.5rem;
  font-weight: bold;
}

input[type="text"],
input[type="email"],
select,
textarea {
  width: 100%;
  padding: 1.2rem;
  border: 0.2rem solid none;
  border-radius: 0.4rem;
  box-sizing: border-box;
  margin-top: 0.6rem;
  margin-bottom: 1.6rem;
  resize: vertical;
}

.formContainer {
  border-radius: 1rem;
  border-top: 0;
  border-bottom: 0;
  padding: 2rem;
  background-color: rgba($primaryColor, $alpha: 0.5);
}

.buttonRow {
  display: flex;
  justify-content: center;
}

.contactButton {
  background-color: #0d5823;
  font-size: $standardFontSize;
  font-weight: bold;
  color: $accentColor;
  border-radius: 1rem;
  height: 5rem;
  width: 20%;
  &:hover {
    box-shadow: 0 0.5rem 1.5rem rgb(12, 88, 12);
  }
}
/* ----------------------------------------------------------- End Contact Us CSS */
